.contact{
    background-image: url('https://image.freepik.com/free-vector/email-marketing-internet-chatting-24-hours-support_335657-3009.jpg');
    height: 500px;
    width: 400;
    background-repeat: no-repeat;
}